<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gallery Planner</title>

    <link rel="icon" type="image/x-icon" href="public/favicon/favicon.ico">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/main_styles.css">
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>

</html>